.section-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.section-contact-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-contact-title{
    font-size: 30px;
    margin-bottom: 15px;
    color: #ff571c;
    font-weight: bold;
}

.section-contact-description{
    font-size: 20px;
    margin-bottom: 20px;
    color: #24284d;
    font-weight: 600;
}

.section-contact-button{
    margin: 0 auto;
    background-color: #ff571c;
    color: white;
    border: 0;
    border-radius: 20px 20px 0px 20px;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 50px;
}

.section-contact-container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.section-contact-container-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-contact-container-form form label{
    font-size: 20px;
    margin-bottom: 10px;
    color: #ff571c;
    align-self: flex-start;
}

.section-contact-input{
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ff571c;
}

.section-contact-input::placeholder{
    color: #24284d;
    font-weight: 600;
    opacity: 0.7;
}

.section-contact-input-message{
    height: 100px;
    padding: 10px;
}
.section-contact-input-message::placeholder{
    height: 100px;
    padding: 10px 0;
    font-size: 15px;
}

.section-contact-input-submit{
    background-color: #ff571c;
    color: white;
    border: 0;
    border-radius: 20px 20px 0px 20px;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 50px;
}

.visible-alert{
    width: 200px;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #848484;
    z-index: 1003; 
}

.background-red{
    background-color: #d20000;
}

.background-green{
    background-color: darkcyan;
}

.visible-alert button{
    position: absolute;
    top: 6px;
    right: 6px;
    border: 0;
    width: 15px;
    height: 15px;
    font-size: 13px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.unvisible-alert{
    display: none;
}

.section-contact-container-map iframe{
    width: 100%;
    height: 300px;
}



/* spinner */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #24284d transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (min-width: 600px){

    .section-contact-title{
        font-size: 45px;
    }
    
    .section-contact-description{
        font-size: 25px;
    }
    
    .section-contact-button{
        font-size: 30px;
    }

    .section-contact-container-form{
        margin-bottom: 50px;
    }

    .section-contact-container-form form{
        width: 550px;
        border-radius: 50px;
        padding: 30px;
        box-shadow: 0px 0px 10px 1px #ccc;
    }

    .section-contact-input-submit{
        margin-bottom: 10px;
    }

    .visible-alert{
        transform: scale(1.1);
        left: 20px;
    }
}

@media screen and (min-width: 900px){

    .section-contact{
        display: grid;
        grid-template-areas: 
        'a b b'
        'c c c';
        grid-gap: 20px;
        padding: 100px 70px;
    }

    .section-contact-container-text{
        width: 400px;
        grid-area: a;
    }
    .section-contact-title{
        width: 100%;
    }

    .section-contact-button{
        cursor: pointer;
    }
    .section-contact-button:hover{
        background-color: #24284d;
        transition: all .3s;
    }

    .section-contact-container-form{
        width: 400px;
        grid-area: b;
    }
    .section-contact-container-form form{
        width: 100%;
    }
    .section-contact-input{
        width: 100%;
    }
    
    .section-contact-container-map{
        width: 800px;
        grid-area: c;
    }
    .section-contact-container-map iframe{
        width: 800px;
    }

    .section-contact-input-submit{
        cursor: pointer;
        font-size: 25px;
    }
    .section-contact-input-submit:hover{
        background-color: #24284d;
        transition: all .3s;
    }
}

@media screen and (min-width: 1200px){
    .section-contact{
        grid-gap: 50px
    }

    .section-contact-container-text{
        width: 500px;
    }

    .section-contact-container-form{
        width: 500px;
    }

    .section-contact-container-map{
        width: 800px;
        margin: 0 auto;
    }
}